<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <import resource="applicationContext-dao.xml"/>

    <bean id="companyService" class="com.becomejavasenior.service.impl.CompanyServiceImpl">
        <property name="companyDao" ref="companyDao"/>
    </bean>

    <bean id="contactService" class="com.becomejavasenior.service.impl.ContactServiceImpl">
        <property name="contactDao" ref="contactDao"/>
    </bean>

    <bean class="com.becomejavasenior.service.impl.CurrenciesServiceImpl" id="currenciesService">
        <property name="currenciesDao" ref="currenciesDao"/>
    </bean>

    <bean class="com.becomejavasenior.service.impl.DealServiceImpl" id="dealService">
        <property name="dealDao" ref="dealDao"/>
    </bean>

    <bean class="com.becomejavasenior.service.impl.FileServiceImpl" id="fileService">
        <property name="fileDao" ref="fileDao"/>
    </bean>

    <bean class="com.becomejavasenior.service.impl.NoteServiceImpl" id="noteService">
        <property name="noteDao" ref="noteDao"/>
    </bean>

    <bean class="com.becomejavasenior.service.impl.TaskServiceImpl" id="taskService">
        <property name="companyDao" ref="companyDao"/>
        <property name="contactDao" ref="contactDao"/>
        <property name="dealDao" ref="dealDao"/>
        <property name="taskDao" ref="taskDao"/>
        <property name="userDao" ref="userDao"/>
        <property name="taskTypeDao" ref="taskTypeDao"/>
    </bean>

    <bean class="com.becomejavasenior.service.impl.TaskTypeServiceImpl" id="taskTypeService">
        <property name="taskTypeDao" ref="taskTypeDao"/>
    </bean>

    <bean class="com.becomejavasenior.service.impl.UserServiceImpl" id="userService">
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>