<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--    Data source-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
        <property name="initialSize" value="${initialSize}"/>
        <property name="maxTotal" value="${maxTotal}"/>
    </bean>

    <bean id="daoFactory" class="com.becomejavasenior.dao.impl.DaoFactoryImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <bean id="companyDao" factory-bean="daoFactory" factory-method="getCompanyDao"/>
    <bean id="contactDao" factory-bean="daoFactory" factory-method="getContactDao"/>
    <bean id="currenciesDao" factory-bean="daoFactory" factory-method="getCurrenciesDao"/>
    <bean id="dealDao" factory-bean="daoFactory" factory-method="getDealDao"/>
    <bean id="fileDao" factory-bean="daoFactory" factory-method="getFileDao"/>
    <bean id="languageDao" factory-bean="daoFactory" factory-method="getLanguageDao"/>
    <bean id="noteDao" factory-bean="daoFactory" factory-method="getNoteDao"/>
    <bean id="roleDao" factory-bean="daoFactory" factory-method="getRoleDao"/>
    <bean id="tagDao" factory-bean="daoFactory" factory-method="getTagDao"/>
    <bean id="taskDao" factory-bean="daoFactory" factory-method="getTaskDao"/>
    <bean id="taskTypeDao" factory-bean="daoFactory" factory-method="getTaskTypeDao"/>
    <bean id="userDao" factory-bean="daoFactory" factory-method="getUserDao"/>
    <bean id="companyFilter" class="com.becomejavasenior.filter.CompanyFilter">
        <property name="companyDao" ref="companyDao"/>
    </bean>

</beans>