.addButton {
    background: darkgrey;
    color: black;
    font-size: 12pt;
    padding: 4px 23px;
    font-weight: normal;
    text-align: center;
    border: solid 1px lightgrey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lightgrey), to(darkgrey));
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.thickLine {
    width: 90%;
    color: darkgrey;
    height: 2px;
    background-color:darkgrey;
}

.thinLine {
    color: darkgrey;
    height: 1px;
    background-color:darkgrey;
}

.submitButton {
    float:left;
    padding: 0 0 0 25px;
}

.resetButton {
    float:right;
    padding: 0 35px 0;;
}